In [31]:
import MySQLdb
import pandas as pd

In [9]:
#connect to database
db = MySQLdb.connect("localhost","root","titleist","TestDB" )

In [11]:
#prepare a cursor object
cursor = db.cursor()

In [18]:
sql = """CREATE TABLE JOEY(
FIRST_NAME CHAR(20) NOT NULL,
LAST_NAME CHAR(20),
AGE INT,
SEX CHAR(1),
INCOME FLOAT
)"""

In [15]:
sql = """INSERT INTO JOEY(FIRST_NAME,
         LAST_NAME)
         VALUES ('Joey', 'Ashcroft')"""

In [16]:
cursor.execute(sql)

1

In [17]:
db.commit()

In [22]:
cursor.execute("SELECT * FROM JOEY")

1

In [23]:
results = cursor.fetchall()

In [30]:
for row in results:
    fname = row[0]
    lname = row[1]
    age = row[2]
    sex = row[3]
    income = row[4]
    # Now print fetched result
    print(fname, lname, age, sex, income )

Joey Ashcroft None None None

In [34]:
#datetime stuff
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2019-05-08'

In [35]:
db.close()